
/* Color scheme comes first. */
body {
  /* background-color: #FFFFFF; */
}


.w {color: white;}
.w:hover {color: white;}
.g {color: #868789;}
.g:hover {color: #212223;} /*gray*/

.o {color: #FF6633;}
.o:hover {color: #FF3300;} /*orange*/



.b {
	color: #97B1C9;
}



.opening-quote{
  background-color:  rgb(85%, 85%, 85%);
  border-top: 1px solid rgb(50%,50%,50%);
  border-left: 5px solid rgb(50%,50%,50%);
  border-right: 5px solid rgb(50%,50%,50%);
  border-bottom: 1px solid rgb(50%,50%,50%);
}
img.photo {
 border-color: rgb(50%,50%,50%);
}
.highlight {
 background-color: #ffff66; 
}
.sidebar{
  background-color:  rgb(85%, 85%, 85%);
  border-top: 1px solid rgb(50%,50%,50%);
  border-left: 5px solid rgb(50%,50%,50%);
  border-right: 5px solid rgb(50%,50%,50%);
  border-bottom: 1px solid rgb(50%,50%,50%);
}



/* End of the color scheme. */

body {
  margin: 0; 
  padding:0;
  font: 14px "Verdana";
  text-align:justify;
}

a {
 text-decoration: none;
}

/*
Problems : 
 adds extra line leading.
 links have underline that's too low and thick
tt {
 line-height:0em; 
 font-family: monospace;
}
*/

h2{
  font-size:18px;
  color:#FFFFFF;
  font-family:"Verdana";
}

h3{
  font: 16px Verdana;
  color:#FF6600;
}

h4{
  font: 16px Verdana;
  color:#FF9933;
  font-weight:bold;
}

blockquote.abstract{
 padding: 0.3em;
}

ul {
 list-style-type: square;
}

tr { 
  vertical-align: top 
}

/* 
Tables used for user input.
*/
form.user-input table {
 background-color: rgb(83%, 83%, 83%);
 border-style: solid;
 border-width: 2px; 
 border-color: rgb(45%,45%,45%); 
 padding: 1.0em;
}
/* improves alignment of form controls */
form.user-input input {
 margin: 0;
}


/* 
REPORTS 
Here, reports are implemented with tables, and refer to any kind of listing.
*/
table.report {
 background-color: rgb(83%, 83%, 83%); 
 border-style: solid;
 border-width: 2px;
 border-color: rgb(45%,45%,45%); 
 border-collapse: collapse;
 empty-cells: show; 
 caption-side: bottom;
}

table.report td, th {
 white-space: nowrap;
 border: 1px ridge rgb(65%,65%,65%); 
 padding: 0.30em;
}

// no underline for sorting links 
table.report th a {
  text-decoration: none;
}
table.report th img {
 padding: 0;
 margin: 0;
}

table.report tbody {
 border: 1px solid black;
}
/* 
Highlighting the row when the cursor hovers above it 
increases legibility. 
*/
table.report tr:hover {
  background-color: #FFFDE3;
}
table.report caption {
 font-weight: bold;
 text-align: center;
 padding: 0.5em;
}
table.report caption:after {
 content : " - ";
}
table.report caption:before {
 content : " - ";
}

/*
MESSAGES of various kinds.
*/
.message {
 font-weight: bolder;  
}
.warning {
 font-weight: bolder;  
}
.error {
 font-weight: bolder;  
 color: rgb(255,0,0);
}
p.display-messages {
 text-align: center;
}


img.photo {
 margin-top:1.0em;
 margin-bottom:1.0em;
 margin-left:1.0em;
 margin-right:1.0em;
 border-style: solid;
 border-width: 2px;
}

img.photo-home {
 margin: 0;
 border-style: solid;
 border-width: 2px;
 float: left; 
}

/* The top banner */
#header{
 text-align:center;
 padding-top:1.70em;
}



.loud {
 font-size: 150%;
 padding: 1.0em;
}


#bodycontent{
  margin-left: 20px;
  margin-right: 20px;
}

#nav-menu{
  padding-top:18px;
  padding-left:15px;
  width:10px;
  float:left;
  display:block;
}

#nav-menu ul {
  list-style-type: none;
  display:block;
  padding: 0;
  margin: 0;
}

#nav-menu li {
  text-decoration: none;
  display:block;
}

#nav-menu li a {
  padding-left: 7px;
  padding-top: 6px;
  height: 22px;
  /* width: 113px; */
  width: 150px;
  display: block;
  text-decoration: none;
  font-weight: bold;
}


/* Search form in menu */
#nav-menu li form {
  padding-left: 7px;
  padding-top: 6px;
  height: 22px;
  width: 113px;
  font-weight: bold;
}

#menuadmin {
width:100%;
padding:5px;
border-top:1px solid blue;
border-bottom:1px solid blue;
background: blue;
font-size:20px;	
	
}

#menuhorizontal {
width:100%;
padding:5px;
border-top:1px solid gray;
border-bottom:1px solid gray;
font-size:20px;
}

#menuhorizontaladmin {
width:90%;
padding:5px;
border-bottom:1px dotted #FF6633;
font-size:20px;
}

.adminmenu {
width:100%;
padding:5px;
border-top:1px solid gray;
border-bottom:1px solid gray;
font-size:20px;
background-color: gray;
}

#content{
  /* margin-left: 135px; */
  margin-left: 100px;
  padding-left:10px; 
  padding-right:10px; 
  padding-top:1px; 
}

#contentdisabled{
  margin: 10px;
  padding:10px;
}

.maincopy a:hover {
  text-decoration: underline;
}

#textcontent{
  height:100%;
  padding-left:0;
  padding-right:15px;
}

div.author {
 font-style: italic;
 padding-top: 0em;
 margin-top: 0.25em;
 text-align: right;
}



.opening-quote{
  margin: 10px;
  padding: 10px;
}

.sidebar{
  margin: 10px;
  padding: 10px;
}

#logotipo{
	float:left;
}



#loginbox {
width:300px;
padding:0px;
border:0px;
margin-right:100px;
margin-top:-80px;
float:right;

}

#searchbox {
width:300px;
padding:20px;
border:0px solid rgb(168,168,168);
margin-right:100px;
margin-top:-50px;
float:right;
}



#footer{
  border-top: 1px solid;
  border-color:rgb(168,168,168);
  text-align:center;
  padding-top: 10px;
  padding-left: 0px;
  font: 11px Verdana, Helvetica, sans-serif;
  padding-right: 10px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}

.small-graphic{
 float:left;
 margin-right:0.2em;
}

/* sometimes footer is too high on page */
div.spacer {
  height: 14.0em;
}
div.smallspacer {
  height: 10.0em;
}
div.bigspacer {
  height: 30.0em;
}

/* Styles for print. */
@media print {
 * {
  color: black !important;
  background: white !important;
 }
 body {
  font-family: "Times New Roman", serif;
  font-size: 12pt;
 }
 a {
  text-decoration: none;
 }
 img.photo {
  display: none;
 }
 div#nav-menu{
  display: none;
 }
 div#header{
  display: none;
 }
}



div.container
{
border-bottom:1x ;
}
/*
div.box1
{
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox 
-webkit-box-sizing:border-box; /* Safari 
border:0px solid gray;
padding:10px;

}
*/


div.box3
{
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
border:1px #97B1C9;
border-bottom-style: dashed;
padding:5px;
margin:15px;

}


div.box4
{
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
padding:50px;
margin:15px;
min-height:200px;
}

div.box5
{
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
border:1px #FF9900;
border-bottom-style: dashed;
padding:5px;
}


.colunas
{
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:2;
}

#imagens{
	
display:block;
	
}

#imagem1{
	
width:200px;
height:150px;
background-color:#0000FF;
margin-left:10%;
float:left;
}

#imagem2{
	
width:200px;
height:150px;
background-color:#00FFFF;
float:left;
}

#mapa{
	
float:right;
margin-right:2%;
margin-left:2%;
width:200px;
height:150px;
background-color:#000000;

}


#colunaDir{
	
	width:200px;
	background-color:#FFF0FF;
	float:right;
	margin-right:13%;
	
}

a {
 color:	#7A9ABA;
}
a:hover {
  /*color:#FF3300;*/
  text-decoration: underline;
}
a:visited {
 /*color: #97B1C9; */
}

/* 
	Using a customized version of Eric Meyer's CSS Reset to give us an even, cross-browser playing field. More info:
	http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 99%;
	font-family: Arial;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1.2;
}
ol, ul {
	margin-left: 25px;
}
#tipo{
	
float:right;
color:#FF9966;
margin-right:5%;

	
}
#nome{
	
float:left;
margin-left:10%;	
}

#imagemRoteiro{
	
	float:right;
	height:300px;
	width:350px;
	background-color:#FF0000;
	margin-right:10%;
	margin-bottom:5%;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
    border-radius: 5px;
	
	
}
#titulo{
	
	margin-left:30%;
	margin-top:5%;
	font-size:x-large;
	color:#666666;
	
}
.right{
	
	float:right;

}
#texto{
	
	float:left;
	margin-left:40px;
	margin-top:2%;
	color:#7A9ABA;
	font-size:13px;
	font-size:x-large;
	font-style:Helvetica, sans-serif;
}
.left{
	
	float:left;
	
}
:focus {
	outline: 1px #000000 dotted;
}

#stars{
	
	float:left;
	margin-left:35%;
	
}

#TipoInteresse{
	font-size:xx-small;
	color:#FF9900;
	margin-left:45px;

}
.rightEventos{
	
	float:left;	
	
	height:auto;
	margin-left:1%;
	
}
#visitas{
	
	display:block;
	
	
}
#imagemPequena{
	
	width:200px;
	height:100px;
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
    border-radius: 5px;
   
   
	
}
#cadaEvento{
	

	background-color:#F0F0F0 ;
	padding:8%;
	
	width:150px;
	padding-bottom:15%;
	height:auto;
	
}
.direitaPais{
	
	float:left;
	width:620px;
	background-color:#FFFFFF;
	height:auto;
	
	
}

#block{
	
	display:block;
	height:auto;

	
}
#back{
	
	padding-top:4%;
	padding-left:4%;
	background-color:#ebebeb;
	margin-bottom:2%;
	padding-bottom:2%;
	
	
	
}

.direita
{
	
	float:right;
	margin-right:15%;
	
	
}
.visitasPais{
	
	width:170px;
	height:120px;
	margin-bottom:1%;

	display:block;
	float:left;
	margin-left:2%;
	align:center;
	
	
}

.roteirosPais{
	width:220px;
	height:300px;
	display:block;

	float:left;
	margin-left:2%;

	
}

.inline{
	
	width:1000px;
	
}
#nomeRoteiro{

	font-size:x-large;
	
	
	}
#datas{
font-size:small;
color:#989898;

}


#leftEvento{
	
	float:left;
	width:600px;
	height:auto;

	margin-top:3%;
	margin-bottom:5%;
	
}
.roteiros10{
	
	float:left;
	
		background-color:#F8F8F8 ;
	padding:2%;
	width:510px;
	
}

#homExterior{
	
	display:inline;
	width:350px;
	float:left;
	margin-bottom:10%;

	
}
#homeleft{
	
	float:left;
	
}
#homeright{
	
	float:left;
	margin-left:5%;
	
}
#rightHome{
	
	float:right;
	margin-right:13%;
	border: 1px solid #FF9900;

	
	padding:2%;

	
}
#cadaRoteiroHome{
	
	width:250px;
	height:50px;
	margin-top:10%;

	
}

#datasEvento{
	
	float:right;
	width:200px;
	height:100px;
	padding:3%;
	
	margin-right:8%;
	margin-bottom:1%;
	color:#7A9ABA;

}
#leftVisita{
	

		float:left;
	width:900px;
	

	margin-top:2%;
	margin-bottom:5%;
	
	
}
#tipoInteresseEvento{
	
	color:#FF9966;
}
#large{
	
	font-size:large;
}

#nomeEvento{
	
		font-size:large;
		color:#000000;
	
}
#roteiros{
	
	backgound-color:#00FF00;

}
#texto{
	color:#303030;
	font-size:medium;
	width:500px;
	height:auto;
	float:left;
	
	
}

#rightPonto{
	
	float:right;
	width:150px;
		margin-top:2%;
		color:#0000FF;	
	
	
}
#visitas{
	
	width:600px;
	
}
#imagemVisita{

	
	background-color:#0000FF;
	width:200px;
	height:100px;
	margin-bottom:2%;
}

#estrelasRoteiros{
	
	margin-left:15%;
	
	
}
.pontoRef{
	
	width:800px;
	height:100px;
	
	
}
#textoRoteiro{
	
	float:left;
	width:600px;
	height:auto;
	background-color:#F0F0F0 ;
	padding:8px;
	
}

#tituloHome{
	
	font-size:x-large;
	
	
}
#tituloPagina{

	font-size:x-large;
	margin-left:20%;
}
	
#pormenores{
	
	float:left;
	width:180px;
	height:120px;
	margin-left:5%;
	margin-top:1%;
	
	 

	}
	.direitaRoteiro{
	
	
	float:right;
	margin-right:10%;
	}
	
#tituloEvento{
	
	font-size:x-large;

	color:#7A9ABA;
	
}

#imagemEvento{
	
	float:left;
	width:420px;
	height:300px;
	background-color:#000000;

	
}

#iamgemE{
	
	align:center;
}
	
	
#roTipo{
	
	float:right;
	margin-right:50%;
	color:#FF9966;
}

#linhaBranca{
	
	width:800px;
	height:20px;
	color:#FFFFFF;

}
.extern{
	
 margin-bottom:2%;
	
}
.admintables {
margin:30px;
width:100%;
border-collapse:collapse;
}

.admintables td, .admintables th 
{
font-size:11px;
padding:3px 7px 2px 7px;
/*border-bottom:1px solid;
border-bottom-color: #FF9933;*/
}
.admintables th 
{
font-size:13px;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color: rgb(83%, 83%, 83%);
}

.estrelasRoteiro{
	
 margin-left:10%;

}

#tipoRoteiro{
	
	color:#FF9966;
	
}

#nomeRoteiro{
	
	color:#7A9ABA;;
	font-size:x-large;
	
	
}
#textoRoteiro{
	
	margin-left:1%;
	margin-bottom:5%;
	margin-top:2%;
	width:400px;
	
	
}

#sss{
color:#000000;
background-color:#EAF2D3;
}
}

/*






	jQuery Coda-Slider v2.0 - http://www.ndoherty.biz/coda-slider
	Copyright (c) 2009 Niall Doherty
	This plugin available for use in all personal or commercial projects under both MIT and GPL licenses.
*/

/* Insignificant stuff, for demo purposes */

	body { padding: 20px }
	.panel h2.title { margin-bottom: 10px }
	noscript div { background: #ebebeb; border: 1px solid #ebebeb; margin: 20px 0; padding: 15px }

/* Most common stuff you'll need to change */

	.coda-slider-wrapper { padding: 20px 0 }
	.coda-slider { background: #ebebec }
	
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px }
	
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel { width: 700px } 
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 750px }
	.coda-slider-wrapper.arrows .coda-slider { margin: 0 5px }
	
	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a { background: #fff; color: #ebebeb; padding: 5px; width: 50px }
	
	/* Tab nav */
	.coda-nav ul li a.current { background: #fff}
	
	/* Panel padding */
	.coda-slider .panel-wrapper { padding: 20px }
	
	/* Preloader */
	.coda-slider p.loading { padding: 20px; text-align: center }

/* Don't change anything below here unless you know what you're doing */

	/* Tabbed nav */
	.coda-nav ul { clear: both; display: block; margin: auto; overflow: hidden }
	.coda-nav ul li { display: inline }
	.coda-nav ul li a { background: #FFFFFF; color: #7A9ABA; display: block; float: left; margin-right: 1px; padding: 3px 6px; text-decoration: none }
	
	/* Miscellaneous */
	.coda-slider-wrapper { clear: both; overflow: auto }
	.coda-slider { float: left; overflow: hidden; position: relative }
	.coda-slider .panel { display: block; float: left }
	.coda-slider .panel-container { position: relative }
	.coda-nav-left, .coda-nav-right { float: left }
	.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
	
}

