 <%@ include file="/WEB-INF/TagHeader.jspf" %>
 <div id="undertop"></div>
 <div id="bodycontent">
  <div id="nav-menu">
   <ul>
    <tags:menu/>
   </ul>
  </div>

  <div id="content">
   <div id="textcontent" class="maincopy">